[color]
  ui = auto
[alias]
  co = checkout
  st = status
  br = branch
  fe = fetch --prune
  rb = rebase
  rs = reset
  dc = diff --check
[grep]
  lineNumber = true
[ghq]
	root = ~/src
[user]
	name = kasima
	email = yama10705988.dev@gmail.com
