[color]
  ui = auto
[alias]
  co = checkout
  st = status
  br = branch
  fe = fetch --prune
  rb = rebase
  rs = reset
  dc = diff --check
  brd = "!f () { git branch --merged | egrep -v '\\*|master|develop' | xargs git branch -d; }; f"
  cp = cherry-pick
[grep]
  lineNumber = true
[ghq]
	root = ~/src
[user]
	name = kasima
	email = yama10705988.dev@gmail.com
